.footer{
    background-color: rgba(79,118,223);
    position: absolute;
    bottom: 0%;
    min-width: 100%;

    strong{  
        color: rgba(254, 203, 0, 0.993);
    }

    a{
        text-decoration: none;
        color: rgba(254, 203, 0, 0.993);
    }
}