<div class="navbar-menu" id="navigation">
    <div class="navbar-start">
        <a class="navbar-item" id="home" routerLink="/home">
            The Reimbursements
        </a>
        <a *ngIf="loggedIn" class="navbar-item" id="dashboard" routerLink="/dashboard">
            Dashboard
        </a>
    </div>

    <div class="navbar-end">
        <a *ngIf="!loggedIn" class="navbar-item" id="sign-in" routerLink="/sign-up">
            Sign-up
        </a>

        <a *ngIf="loggedIn" class="navbar-item" id="log-out" (click)= "logout()">
            Logout
        </a>
    </div>
</div>