<div class="container">
    <h1 class="title is-1">Dashboard</h1>
    <h2 class="title is-2" id="user-title">{{userName}} : {{userRole}}</h2>

    <div class="columns" id="all-reimbursements">
        <a routerLink="/user-reimbursements">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-48by48">
                            <img src="https://storage.googleapis.com/project-1-images/allreimbursements.PNG" alt="All Reimbursements">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                <img src="https://storage.googleapis.com/project-1-images/reciepitExample.PNG" alt="Example Reimbursement">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Get All Reimbursements</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        

        <div class="column" id="all-associates">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-48by48">
                    <img src="https://storage.googleapis.com/project-1-images/allCharacters.PNG" alt="All Associates">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                            <img src="https://storage.googleapis.com/project-1-images/reciepitExample.PNG" alt="Example Reimbursement">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Get All Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
</div>

